/*@font-face {
	font-family: 'Avenir Condensed';
	src: url('../assets/fonts/AvenirNextCondensed-Bold.eot');
	src: url('../assets/fonts/AvenirNextCondensed-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/AvenirNextCondensed-Bold.ttf')  format('truetype'),
		url('../assets/fonts/AvenirNextCondensed-Bold.svg#AvenirNextCondensed-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('../assets/fonts/FFMetaPro-Light.eot');
	src: url('../assets/fonts/FFMetaPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/FFMetaPro-Light.ttf') format('truetype'),
		url('../assets/fonts/FFMetaPro-Light.svg#FFMetaPro-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('../assets/fonts/FFMetaPro-CondNormal.eot');
	src: url('../assets/fonts/FFMetaPro-CondNormal.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/FFMetaPro-CondNormal.ttf') format('truetype'),
		url('../assets/fonts/FFMetaPro-CondNormal.svg#FFMetaPro-CondNormal') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
