$root: '../images/';
$font-content: 'Book Antiqua', 'Palatino', serif;
$font-header: 'Bernier Regular', sans-serif;
$font-button: 'Bernier Regular', sans-serif;
$color-content: #414141;
$color-header: #ffb300;
$color-shadow: #211c0c;
$color-light: #fff;
