//$root: '../images/';
$image_source: '../assets/images/';
$font-content: 'FFMetaProNormal', 'Helvetica', serif;
$font-header: 'AvenirNext', sans-serif;
$font-button: 'AvenirNext', sans-serif;

$yellow: #FFDD00;
$pink: #ED2855;
$green: #00CD9A;
$darkgrey: #29292C;
$lightgrey: #E5E5E5;
$white: #FFF;
$padding: 40px;

$footer_height: 120px;