<form method="post" action="">
	<p>
		<label for="input">Gebruikersnaam / e-mailadres</label>
		<input type="text" name="input" id="input" />
	</p>
	<p>
		<label for="password">Wachtwoord</label>
		<input type="password" name="password" id="password" />
	</p>
	<p>
		<input type="submit" value="Login" />
	</p>
	<p>
		<a href="#register">Nog geen account?</a>
	</p>
</form>