<ul>
	<li><a href="#creations">Creations</a></li>
	<li><a href="#artists">Artists</a></li>
	<li><a href="#groups">Groups</a></li>
	{{#if id}}
	<li><a href="#logout">Logout</a></li>
	{{else}}
	<li><a href="#login">Login</a></li>
	{{/if}}
</ul>