<h1>The Tunnel</a>
<ul class="navigation">
	{{#if role.can_edit_creations}}
	<li><a href="#creations">Creations</a></li>
	{{/if}}
	{{#if role.can_edit_users}}
	<li><a href="#artists">Artists</a></li>
	{{/if}}
	{{#if role.can_approve_groups}}
	<li><a href="#groups">Groups</a></li>
	{{/if}}
	{{#if role.can_edit_roles}}
	<li><a href="#roles">Roles</a></li>
	{{/if}}
	{{#if id}}
	<li><a href="#logout">Logout</a></li>
	{{else}}
	<li><a href="#login">Login</a></li>
	{{/if}}
</ul>
