<h1>Admin roles</h1>
<h2>Add role</h2>
<form method="post" action="" class="add">
	<p>
		<label for="title">Title</label>
		<input type="text" class="title" name="title" />
	</p>
	<label for="can_edit_users"><input type="checkbox" value="1" name="can_edit_users" class="can_edit_users" id="can_edit_users" /> Can edit users</label>
	<label for="can_delete_users"><input type="checkbox" value="1" name="can_delete_users" class="can_delete_users" id="can_delete_users" /> Can delete users</label>
	<label for="can_edit_roles"><input type="checkbox" value="1" name="can_edit_roles" class="can_edit_roles" id="can_edit_roles" /> Can edit roles</label>
	<label for="can_approve_groups"><input type="checkbox" value="1" name="can_approve_groups" class="can_approve_groups" id="can_approve_groups" /> Can approve groups</label>
	<label for="can_edit_creations"><input type="checkbox" value="1" name="can_edit_creations" class="can_edit_creations" id="can_edit_creations" /> Can edit creations</label>
	<label for="can_delete_creations"><input type="checkbox" value="1" name="can_delete_creations" class="can_delete_creations" id="can_delete_creations" /> Can delete creations</label>
	<label for="can_feature_creations"><input type="checkbox" value="1" name="can_feature_creations" class="can_feature_creations" id="can_feature_creations" /> Can feature creations</label>
	<label for="can_judge_creations"><input type="checkbox" value="1" name="can_judge_creations" class="can_judge_creations" id="can_judge_creations" /> Can judge creations</label>
	<input type="submit" value="Create role" />
</form>
<h2>Roles</h2>
<div class="roles"></div>